<div class="container" style="margin-top:30px">
<div class="col-md-12">
  <div class="panel panel-default">
			<div class="panel-heading">
        <h3 class="panel-title"><strong>Search Expense </strong></h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-4">
							<div class="form-group">
								<label>Search:</label>
								<input type="text" class="form-control" [(ngModel)]="searchKeyword" [ngModelOptions]="{standalone: true}" placeholder="Expense"><br>
							</div>
						</div>
            <div class="col-sm-8">
            <div class="col-sm-4">
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" [max]="maxDate" [formControl]="fromDate" placeholder="Choose From date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <p class="help-block" *ngIf="fromDate.value == '' && submitted">From Date is required</p>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput [formControl]="toDate"  name="toDate" [matDatepicker]="picker1" [min]="minDate" placeholder="Choose To date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <p class="help-block" *ngIf="toDate.value == '' && submitted">To Date is required</p>
            </div>
            <div class="col-sm-4">
  								<div class="form-group">
  									<label>&nbsp;</label>
  									<p class="input-group">
  										<button class="btn btn-primary" type="submit" (click)="getExpenseBetweenDate(fromDate.value,toDate.value)">Search</button> &nbsp;
  										<button class="btn btn-primary" *ngIf="searchEX" (click)="resetSearch()">Reset</button>
  									</p>
  								</div>
  							</div>
          </div>
          </div>
          <div class="col-sm-12">
							<div class="table-responsive scrollmenu">
								<table scrolling="yes" class="table table-bordered table-hover table-striped" class="table table-condensed">
                  <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Created Date</th>
                    <th>action</th>
                  </thead>
                  <tbody>
                    <tr>
                            <td colspan="5" *ngIf="!createExpense">

                                Expense not found
                            </td>
                        </tr>
                    <tr *ngFor="let expense of createExpense | filter:searchKeyword">
                      <td>{{expense.item_name}}</td>
                      <td>{{expense.description}}</td>
                      <td>{{expense.expense_amount}}</td>
                      <td>{{expense.created_at | date:'dd/MMM/yyyy'}}</td>
                      <td>
                        <div>
														<button class="btn btn-xs btn-primary" (click)="updateUser(expense)"><i class="glyphicon glyphicon-pencil over"></i></button>
														<button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove over"></i></button>

												</div>
                      </td>
                    </tr>
                    <!-- <tr *ngIf="expenseList.length ==0"><td colspan="1">
													No Expense Found
											</td>
                    </tr> -->
                    <tr></tr>
                  </tbody>
                </table>
              </div>
            </div>
        </form>
      </div>
</div>
</div>
  <!-- <form [formGroup]="form" (ngSubmit)="save(form.value)">

    <div>
      <mat-form-field>
        <input type="email" matInput name="userEmail" placeholder="Email" formControlName="userEmail">
      </mat-form-field>
    </div>
    <div>
      <button [disabled]="!form.valid" mat-raised-button color="primary">Save</button>
    </div>
  </form> -->
  <!-- <button type="button" data-target="#myModal"><i class="material-icons"  (click)="addUser();">&#xE7FE;</i></button> -->
    <!-- <button type="button" data-target="#myModal" data-toggle="modal"><i class="material-icons" (click)="addUser();">&#xE7FE;</i></button>
  <div class="col-sm-12">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tr>
          <td colspan="8" *ngIf="user.length==0">
            <p class="NhsSystem-header"> User not found</p>
          </td>
      </tr>
      <tr *ngFor='let users of user'>
        <td>{{users.first_name}}</td>
        <td>{{users.last_name}}</td>
        <td>{{users.email}}</td>
        <td>{{users.phone}}</td>
        <td>
            <button class="btn btn-xs btn-primary" (click)="editUser(users)"><i class="glyphicon glyphicon-pencil over"></i></button>
            <button  class="btn btn-xs btn-danger" (click)="userDelete(users);"><i class="glyphicon glyphicon-remove over"></i></button>
        </td>
      </tr>
    </table>
  </div> -->
</div>
